# microkube default configuration
# This file is loaded from /etc/microkube/config.yaml
#
# For device-specific overrides, see deploy/rose1-config.yaml
# or create your own <device>-config.yaml.

nodeName: mikrotik-node
standalone: true  # Set to false when connected to a K8s API server

routeros:
  address: "192.168.200.1:8728"
  restUrl: "https://192.168.200.1/rest"
  user: admin
  password: ""  # Set via MICROKUBE_PASSWORD env var
  useTLS: false
  insecureVerify: true  # RouterOS uses self-signed certs by default

networks:
  - name: containers
    bridge: containers
    cidr: "192.168.200.0/24"
    gateway: "192.168.200.1"
    dns:
      endpoint: "http://192.168.200.199:8080"
      zone: "gt.lo"
      server: "192.168.200.199"

storage:
  basePath: /raid1/images
  tarballCache: /raid1/cache
  gcIntervalMinutes: 30
  gcKeepLastN: 5
  gcDryRun: false

systemd:
  bootManifestPath: /etc/microkube/boot-order.yaml
  watchdogIntervalSeconds: 15
  maxRestarts: 5
  restartCooldown: 10

registry:
  enabled: true
  listenAddr: ":5000"
  storePath: /raid1/registry
  pullThrough: true
  upstreamRegistries:
    - "docker.io"
    - "ghcr.io"
