# mkube-update configuration for rose1.gw.lo
# Mounted at /etc/mkube-update/config.yaml inside the container.

registryURL: "http://192.168.200.2:5000"
routerosURL: "http://192.168.200.1/rest"
routerosUser: "mkube"
routerosPassword: "mkube-rest"
mkubeAPI: "http://192.168.200.2:8080"
pollSeconds: 60

watches:
  - repo: microkube
    tag: latest
    container: kube.gt.lo
  - repo: mkube-update
    tag: latest
    container: mkube-update-updater
    selfUpdate: true
  - repo: microdns
    tag: latest
    containers:
      - mdns-gw-microdns
      - mdns-g10-microdns
      - mdns-g11-microdns
      - mdns-gt-microdns
    rolling: true
    rollingDelay: 5s
