# mkube-update configuration for rose1.gw.lo
# Mounted at /etc/mkube-update/config.yaml inside the container.

registryURL: "https://192.168.200.3:5000"
routerosURL: "http://192.168.200.1/rest"
routerosUser: "mkube"
routerosPassword: "mkube-rest"
mkubeAPI: "http://192.168.200.2:8080"
pollSeconds: 60

bootstrap:
  enabled: true
  image: "ghcr.io/glennswest/mkube:edge"
  selfRootDir: "raid1/images/mkube-update-updater"
  tarballDir: "/data"
  container:
    name: "kube.gt.lo"
    interface: "veth-mkube"
    rootDir: "/raid1/images/kube.gt.lo"
    hostname: "kube.gt.lo"
    dns: "192.168.200.199"
    logging: "yes"
    startOnBoot: "yes"
    mountLists: "kube.gt.lo.config,kube.gt.lo.registry,kube.gt.lo.cache,kube.gt.lo.data"

watches:
  - repo: mkube
    tags: [edge, latest]
    container: kube.gt.lo
  - repo: mkube-update
    tags: [edge, latest]
    container: mkube-update-updater
    selfUpdate: true
  - repo: mkube-registry
    tags: [edge, latest]
    container: registry.gt.lo
  - repo: microdns
    tags: [edge, latest]
    containers:
      - g10_dns_microdns
      - g11_dns_microdns
      - gt_dns_microdns
    rolling: true
    rollingDelay: 5s
